.App {
  text-align: center;
}

.Spin {
  width: 200px;
}

.Logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Spin {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: rgb(5, 2, 2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(230, 109, 29);
}

.App-link {
  color: #04db56;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
